/* Universal Styles */

/* Header */


.logo {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-left: 30px;
    color: MediumAquamarine;
}

header {
  display: flex;
  align-items: center;
  z-index: 1
  width: 100%;
  height: 80px;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

/* App Container */

  /* Large Column */
.largecol {
    width: 630px;
  }

.largebox1 {
  border-style: solid;
}

.largebox2 {
  border-style: solid;
}

.largebox3 {
  border-style: solid;
}

.largebox4 {
  border-style: solid;
}

.largebox5 {
  border-style: solid;
}

.largebox6 {
  border-style: solid;
}

  /* Medium Column */
.mediumcol {
      width: 300px;
    }

.mediumbox1 {
  border-style: solid;
}

.mediumbox2 {
  border-style: solid;
}

.mediumbox3 {
  border-style: solid;
}

  /* Small Column */
.smallcol {
      width: 240px;
    }

.smallbox1 {
  border-style: solid;
}

.smallbox2 {
  border-style: solid;
}


/* Footer */
